<div class = 'test'>


<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error-messages">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.datetime_field :duration %>
  </div>

  <div>
    <%= form.label :done, style: "display: block" %>
    <%= form.check_box :done %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<% if task.persisted? %>
  <div class="task">
    <p class="name"><%= task.name %></p>
    <p class="description"><%= task.description %></p>
    <p class="duration"><%= task.duration %></p>
    <p class="done"><%= task.done ? 'Completed' : 'Not Completed' %></p>
  </div>
<% end %>


</div>